@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

/* Utility classes */
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

/* LAYOUT */
header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}
.buttons {
  margin: 0.5rem 0 0 0.5rem;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
}

.number {
  background: #eee;
  color: #333;
  font-size: clamp(2rem, 8vw, 6rem);
  width: 15rem;
  padding: clamp(1rem, 2rem, 3rem) 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

#userInput {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: clamp(1rem, 2vw, 2rem);
  font-family: inherit;
  padding: 1em 2em;
  cursor: pointer;
}
.btn:first-child {
  margin-right: 0.3em;
}
.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-chances-left {
  margin-bottom: 2rem;
}

@media (min-width: 0px) and (max-width: 640px) {
  .headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  .between {
    position: static;
  }

  .buttons {
    margin-inline: auto;
  }
  main {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin-block: 6vh;
  }
}
